* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #379aa8;
	--secondary-color: #51b08b;
	--accent1-color: #232139;
	--accent2-color: #183123;
	--shadow-color: rgba(24, 49, 35, 0.4);
	--heading-font: "Georgia";
	--body-font: Helvetica;
}

body {
	font-family: var(--body-font);
	color: var(--accent1-color);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

header, main, footer {
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--primary-color);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-color);
}

h1, h2 {
	font-family: var(--heading-font);
	color: var(--primary-color);
}

nav, p, section, article {
	margin: 16px;
	padding: 8px;
}

nav a {
	font-weight: bold;
	text-decoration: none;
	color: var(--accent1-color)
}

nav {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

section p {
	white-space: pre-line;
}
/* Class Selectors */
.socialmedia a {
	text-decoration: none;
}

.hero {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.hero img {
	display: block;
	border-radius: 1rem;
	width: 100%;
	height: auto;
}
.hero h1 {
	position: absolute;
	font-size: 100px;
	mix-blend-mode: exclusion;
}
.hero article {
	position: absolute;
	bottom: 0;
	width: calc(100% - 2rem);
	border-radius: 1rem;
	background-color: var(--secondary-color);
	color: var(--accent2-color);
	box-shadow: 0 0 1rem 0 var(--shadow-color);
}
.hero article img {
	float: right;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0 var(--shadow-color);
}

.hero form {
	bottom: 0;
	border-radius: 1rem;
	background-color: var(--secondary-color);
	color: var(--accent2-color);
	padding: 1rem;
	box-shadow: 0 0 1rem 0 var(--shadow-color);
}
.history article {
	position: relative;
	display: flex;
}
.history article img {
	width: 250px;
	height: 500px;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0 var(--shadow-color);
}

.collection {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.collection div {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: 100%;
}
.collection img {
	width: 100%;
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0 var(--shadow-color);
	object-fit: cover;
	height: 200px;
}
.collection figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex: 1 1 auto;
	gap: 1rem;
}
table * {
	padding: 1rem;
}

/* Contact Page */
.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.form label {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex: 1 1 auto;
	width: 100%;
}
.form button {
	padding: 0.75rem;
	background-color: var(--primary-color);
	border-radius: 0.5rem;
	border-style: hidden;
}
.form input, .form textarea {
	border-radius: 0.5rem;
	border-style: solid;
	border-width: 1px;
	padding: 0.5rem;
	flex: 1 1 auto;
}
.address, address {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	text-align: center;
}
.row {
	display: flex;
	gap: 1rem;
}
.map {
	border-radius: 1rem;
}
.radio {
	display: flex;
	flex-direction: column;
	border: 0;
}

.cta {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	text-align: center;
}
.cta a {
	text-decoration: none;
	color: black;
	padding: 0.75rem;
	background-color: var(--primary-color);
	border-radius: 0.5rem;
	border-style: hidden;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid article {
	text-align: center;
	background-color: var(--secondary-color);
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0 var(--shadow-color);
}
.grid h2 {
	color: black;
}
.grid img {
	border-radius: 1rem;
	width: 100%;
	object-fit: cover;
	height: 10rem;
	box-shadow: 0 0 1rem 0 var(--shadow-color);
}